<div id="signup" class="active" ng-controller="SignUpController as SignUpCtrl">
    <h1>Sign Up for Free</h1>

    <form action="/" method="post" name="SignUpForm" novalidate>

        <div class="top-row">
            <div class="field-wrap">
                <label>
                    First Name<span class="req">*</span>
                </label>
                <input type="text" required autocomplete="off" ng-model="user.first_name" name="first_name"/>
            </div>

            <div class="field-wrap">
                <label>
                    Last Name<span class="req">*</span>
                </label>
                <input type="text"required autocomplete="off" ng-model="user.last_name" name="last_name"/>
            </div>
        </div>

        <div class="field-wrap">
            <label>
                Email Address<span class="req">*</span>
            </label>
            <input type="email"required autocomplete="off" ng-model="user.email" name="email"/>
        </div>

        <div class="field-wrap">
            <label>
                Set A Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off" ng-model="user.password" name="password" min="6" max="10" integer/>
        </div>

        <button type="button" class="button button-block" ng-click="SignUpCtrl.send(SignUpForm)">Get Started</button>

    </form>

</div>