@charset "UTF-8";
//@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

body{height: 100%; width: 100%; padding:0; margin: 0; font-family: 'arial'; direction: ltr}
html{height: 100%; width: 100%;}
h3{color:#fff;}
.rtl{direction:rtl;}
.ltr{direction:ltr;}
.align-right{float: right;}
.align-left{float: left;}

