@charset "UTF-8";

.align-right{float:right}
.align-left{float:left}
.clear{clear: both}
a{outline: none}
a:hover{text-decoration: none}

.dashboard-wrapper{width:100%; border:1px solid #000000; /* padding: 20px; */ margin: 10px;}
.site.dashboard-wrapper{  background-color: #e7e7e7;  }
.site.dashboard-wrapper .menu{}
.site.dashboard-wrapper .menu.years{  background-color: #e7e7e7;  }
.site.dashboard-wrapper .menu.years ul {list-style: none;  margin: 43px 0px 0px 0px;border-left: 1px solid #838181;}
.site.dashboard-wrapper .menu.years ul li{margin: 0;border-bottom: 1px solid #007095;}
.site.dashboard-wrapper .menu.years ul li a{margin: 0}
.site.dashboard-wrapper .menu.years ul li a:hover{}
.site.dashboard-wrapper .year-content{width: 800px;    background-color: #e7e7e7;min-height: 400px;}
.site.dashboard-wrapper .year-content .month-content{/* height: 400px; */}
.site.dashboard-wrapper .year-content ul{list-style: none;/* margin: 0px 65px 0px 0px; */}
.site.dashboard-wrapper .year-content ul li{list-style: none;float: right;border-left: 1px solid #C7C5C5;}
.site.dashboard-wrapper .year-content ul li a{  margin: 0;  }